<div style="height: 80vh;">

<img [src]="'./assets/images/img-header.jpg'" alt="" srcset="" id="logo-header" class="w-100">

<div id="sidenavcontainer" >
    <div class="cont-logo">
        <img [src]="'./assets/images/logo-header.png'" alt="" srcset="" id="logo-header">
    </div>
    <ul>
        <li><a href="#quemsomos" mat-button>Quem somos</a></li>
        <li><a href="#administracao" mat-button>Administração</a></li>
        <li><a href="#" mat-button>Demonstrativo Financeiro</a></li>
        <li><a href="#" mat-button>Convênios</a></li>
        <li><a href="#" mat-button>Contato</a></li>
    </ul>
</div>   
<router-outlet></router-outlet>
</div>
   
