
<section class="section bordo" *ngIf="this.paginasFilho">
    <h2>quem somos</h2>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" >
        <mat-tab label="{{item.titulo}}" *ngFor="let item of this.paginasFilho" >
          <div [innerHtml]="item.conteudo"></div>
        </mat-tab>
      </mat-tab-group>

</section>
<section class="section" *ngIf="diretorias && pagina">
    <h2>Administração</h2>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Diretoria" >
          <form>
            <h4 class="d-inline">Diretoria do Triênio</h4>
            <mat-form-field appearance="outline" class="ms-2" floatLabel="always">
              <mat-select [(ngModel)]="selectedValue" name="diretorias" [placeholder]="diretorias[0].titulo" >

                  <mat-option *ngFor="let item of diretorias; index as i"  [value]="i">{{item.titulo}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          <div  [innerHtml]="this.diretorias[ConvertStringToNumber(selectedValue!)].conteudo">
          </div>
            
        </mat-tab>
        <mat-tab label="Conselho fiscal">
          <div [innerHtml]="this.pagina.conteudo">
          </div>
        </mat-tab>
      </mat-tab-group>
</section>
<section class="section bordo" *ngIf="configuracoes">
    <h2>contato</h2>
    <div >
        <form id="contact-form" class="cont_two_column" method="post" action="<?php bloginfo('template_url'); ?>/php/enviar_email.php">
          <div class="item">
            <input type="text" id="nome" name="nome" required placeholder="Nome">
            <input type="email" id="email" name="email" required placeholder="E-mail">
            <input type="tel" id="telefone" name="telefone" placeholder="Telefone">
          </div>
          <div class="item">
            <textarea id="mensagem" name="mensagem" required placeholder="Mensagem"></textarea>
            <button type="submit">Enviar</button>
          </div>
        </form>
    </div>

    <hr>
   
    <div id="contact-info" class="cont_two_column">
        <div class="item">
            <span class="endereco" *ngIf="configuracoes" [innerHtml]="configuracoes.endereco" >
                
            </span>
        </div>
        <div class="item">
            <span class="horario">
                Parceiros<br>
            </span>
            <div *ngFor="let item of parceiroList | keyvalue">    
              <a [href]="item.value.link" target="_blank" id="logo-footer"><img [src]="item.value.imagem" alt="Logo do Parceiro" ></a>
            </div>
        </div>
    </div>


    <hr>

    <p class="text-center" *ngIf="configuracoes" [innerHtml]="configuracoes.copyright"></p>


</section>