
<section class="section bordo">
    <h2>quem somos</h2>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="História">
            <p>Fundada e registrada em 28 de outubro de 1987, a ASTECOM é uma entidade de caráter cultural, recreativo, social e de representação que congrega os Servidores e Conselheiros do Tribunal de Contas dos Municípios do Estado da Bahia.</p>
            <p>Não tem fins lucrativos, e possui dentre os principais objetivos, prestar assistência médica, odontológica, de enfermagem, jurídica, financeira e social aos seus associados, na forma a ser regulamentada e dentro das possibilidades econômico-financeiras, podendo para tanto, celebrar convênios e contratos com entidades afins e receber auxílios e subvenções; realizar atividades de caráter sócio-recreativo, tais como prática de exercícios atléticos, competições esportivas amadorísticas, organizar colônia de férias, viagens de lazer, festividades e outras atividades correlatas; promover atividade visando incentivar o aperfeiçoamento técnico-profissional e cultural dos associados;</p>
            <p>Constituem órgãos da Associação: a Assembléia Geral; o Conselho Fiscal;</p> 
            <p>a Diretoria.</p>
        </mat-tab>
        <mat-tab label="Missão">Content 2</mat-tab>
      </mat-tab-group>

</section>
<section class="section">
    <h2>Administração</h2>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Diretoria">
          <form>
            <h4 class="d-inline">Diretoria do Triênio</h4>
            <mat-form-field appearance="outline" class="ms-2">
              <mat-label>Favorite food</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="food">
                  <mat-option *ngFor="let food of foods"  [value]="food.value">{{food.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>

            <p>Fundada e registrada em 28 de outubro de 1987, a ASTECOM é uma entidade de caráter cultural, recreativo, social e de representação que congrega os Servidores e Conselheiros do Tribunal de Contas dos Municípios do Estado da Bahia.</p>
            <p>Não tem fins lucrativos, e possui dentre os principais objetivos, prestar assistência médica, odontológica, de enfermagem, jurídica, financeira e social aos seus associados, na forma a ser regulamentada e dentro das possibilidades econômico-financeiras, podendo para tanto, celebrar convênios e contratos com entidades afins e receber auxílios e subvenções; realizar atividades de caráter sócio-recreativo, tais como prática de exercícios atléticos, competições esportivas amadorísticas, organizar colônia de férias, viagens de lazer, festividades e outras atividades correlatas; promover atividade visando incentivar o aperfeiçoamento técnico-profissional e cultural dos associados;</p>
            <p>Constituem órgãos da Associação: a Assembléia Geral; o Conselho Fiscal;</p> 
            <p>a Diretoria.</p>
        </mat-tab>
        <mat-tab label="Conselho fiscal">Content 2</mat-tab>
      </mat-tab-group>
</section>
<section class="section bordo">
    <h2>contato</h2>
    <div >
        <form id="contact-form" class="cont_two_column" method="post" action="<?php bloginfo('template_url'); ?>/php/enviar_email.php">
          <div class="item">
            <input type="text" id="nome" name="nome" required placeholder="Nome">
            <input type="email" id="email" name="email" required placeholder="E-mail">
            <input type="tel" id="telefone" name="telefone" placeholder="Telefone">
          </div>
          <div class="item">
            <textarea id="mensagem" name="mensagem" required placeholder="Mensagem"></textarea>
            <button type="submit">Enviar</button>
          </div>
        </form>
    </div>

    <hr>
   
    <div id="contact-info" class="cont_two_column">
        <div class="item">
            <span class="endereco">
                Rua Waldemar Falcão, 323 - Horto 40295-010
            </span>
        </div>
        <div class="item">
            <span class="horario">
                Parceiros<br>
            </span>
        </div>
    </div>

    <hr>

    <p class="text-center">© Copyright 2023 Astecom</p>

    <img [src]="'./assets/images/logo-footer.png'" alt="" srcset="" id="logo-footer" >

</section>