
<section class="section bordo" *ngIf="this.paginasFilho" id="quemsomos">
  <a [routerLink]="['/interna']"><img [src]="'./assets/images/eleicoes_2024_banner.jpg'" alt="" srcset="" /></a>
</section>

<section class="section bordo" *ngIf="this.paginasFilho" id="quemsomos">
    <h2>quem somos</h2>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" >
        <mat-tab label="{{item.titulo}}" *ngFor="let item of this.paginasFilho" >
          <div [innerHtml]="item.conteudo"></div>
        </mat-tab>
      </mat-tab-group>

</section>
<section class="section" *ngIf="diretorias && pagina" id="administracao">
    <h2>Administração</h2>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Diretoria" >
          <form>
            <h4 class="d-inline">Diretoria do Triênio</h4>
            <mat-form-field appearance="outline" class="ms-2" floatLabel="always">
              <mat-select [(ngModel)]="selectedValue" name="diretorias" [placeholder]="diretorias[0].titulo" >

                  <mat-option *ngFor="let item of diretorias; index as i"  [value]="i">{{item.titulo}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          <div  [innerHtml]="this.diretorias[ConvertStringToNumber(selectedValue!)].conteudo">
          </div>
            
        </mat-tab>
        <mat-tab label="Conselho fiscal">
          <div [innerHtml]="this.pagina.conteudo">
          </div>
        </mat-tab>
      </mat-tab-group>
</section>
