/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import 'variables.scss';

html, body { height: 100%; }

section{
  ul{
    padding-left: 0;
    li{
      line-height: 30px;
      a{
        color: $cor-bordor-escuro;
        text-decoration: none;
      }
    }
  }
}


.toast-position{
    top: 50px;
    bottom: 30px;
    right: 10px;
  }

  body {
    display: flex;
    justify-content: center;
    height: 100%;
    
}

button {
  background-color: $cor-verde;
  color: white;
  padding: 6px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

*{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 15px;
}

h4{
  color: #000;
}

app-root{
  width: 100%;
  max-width: 952px;
}

mat-icon{
  font-family: "Material Icons" !important;
}

#sidenavcontainer{
  position:  absolute;
  z-index: 999999;
  top: 30px;
  max-width: 952px;
  padding-top: 10px;
  .cont-logo{
    display: inline;
    background-color: $cor-azul;
    padding: 8px 5px 8px 20px;
    border-radius: 0px 10px 10px 0; 
    margin-right: 10px;
  }
  ul{
    background-color: $cor-bordor-escuro;
    border-radius: 10px;
    display: inline-block;
    padding-left: 0;
    li{
      display: inline;
      a{
        font-size: 10px;
        color: $cor-branco;
      }
    }
  }
}



.mat-mdc-tab-group, .mat-mdc-tab-nav-bar{
  color: #b99d9f;
  --mat-tab-header-active-label-text-color: #fff;
  --mat-tab-header-active-hover-label-text-color: $cor-branco;
  --mat-tab-header-inactive-label-text-color: $cor-branco;
  --mat-tab-header-inactive-hover-label-text-color: $cor-branco;
  --mat-tab-header-active-label-text-color: $cor-branco;
  --mat-tab-header-active-ripple-color: $cor-branco;
  --mat-tab-header-inactive-ripple-color: $cor-branco;
  --mat-tab-header-active-focus-label-text-color: $cor-branco;
    --mat-tab-header-active-hover-label-text-color: $cor-branco;
    --mat-tab-header-active-focus-indicator-color: $cor-branco;
    --mat-tab-header-active-hover-indicator-color: $cor-branco;
}

.mat-mdc-tab-group:hover, .mat-mdc-tab-nav-bar{
  --mat-tab-header-active-hover-label-text-color: $cor-branco;
}

.bordo .mat-mdc-tab-group, .bordo .mat-mdc-tab-nav-bar{
  --mat-tab-header-active-label-text-color: #fff;
  --mat-tab-header-active-hover-label-text-color: $cor-branco;
  --mat-tab-header-inactive-label-text-color: rgb(255 255 255 / 60%);
  --mat-tab-header-inactive-hover-label-text-color: rgb(255 255 255 / 100%);
  --mat-tab-header-active-label-text-color: $cor-branco;
  --mat-tab-header-active-ripple-color: $cor-branco;
  --mat-tab-header-inactive-ripple-color: $cor-branco;
  --mat-tab-header-active-focus-label-text-color: $cor-branco;
    --mat-tab-header-active-hover-label-text-color: $cor-branco;
    --mat-tab-header-active-focus-indicator-color: $cor-branco;
    --mat-tab-header-active-hover-indicator-color: $cor-branco;
    color: $cor-branco;
}

.bordo .mat-mdc-tab-group:hover, .bordo .mat-mdc-tab-nav-bar{
  --mat-tab-header-active-hover-label-text-color: $cor-branco;
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border: 0;
}

.mdc-tab-indicator--active{
  background: $cor-bordor-escuro !important;
}

.mat-mdc-tab-body-wrapper {
  padding-top: 20px;
}

@media only screen and (max-width: 700px) {

}

.form-container {
  max-width: 800px;
  margin: 0 auto;
}

#contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  label, input, textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    border: 0;
    background: #D9D9D9;
    padding: 5px;
  }
  textarea {
    height: 71px;
  }
  .form-column {
    flex: 1;
    max-width: calc(50% - 10px);
  }
  button {
    width: 100%;
  }
    
}


#contact-info {

  >div {
    flex: 1;
    max-width: calc(50% - 10px);
    color: $cor-branco;

    .endereco{
      padding-left: 44px;
      display: block;
      margin-top: 20px;
    }

    .horario{
      padding-left: 44px;
      display: block;
      margin-top: 20px;
    }

    .endereco::before,.horario::before{
      content: "";
      background: url(/assets/images/icon-endereco.png) no-repeat;
      width: 33px;
      height: 40px;
      display: block !important;
      position: absolute;
      margin: -2px -40px;
    }

    .horario::before{
      background: url(/assets/images/icon-horario.png) no-repeat;
    }
      
    }

    
  }

  #logo-footer {
    margin: 60px auto;
    display: block;
}

.cont_two_column {
  @include basic-column();

  .item {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  
    @media screen and (max-width: 480px) {
      width: 100%; // 1 coluna em telas ainda menores
    }
  }
}

.section{
  padding: 40px 110px;
  background: $cor-branco;
  h2{
      font-size: 15px;
      font-weight: $font-bold;
      color: $cor-bordo;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-weight: $font-medium;
      text-align: center;
      border-bottom: 1px solid $cor-bordo;
      display: table;
      margin: 0 auto 20px auto;
  }
  p{
      color: $cor-cinza;
      line-height: 1.5;
      font-weight: $font-medium;
      text-align: justify;
  }
  &.bordo{
      background: $cor-bordo;

      hr{
        border: 1px solid $cor-hr;
        margin: 20px 0;
      }
      
      h2{
        color: #fff;
        border-bottom: 1px solid #fff;
        display: table;
        margin: 0 auto 30px auto;
      }
      p{
          color: $cor-branco;
      }

      h2:last-child{
          margin-top: 80px !important;
      }
  }

  &.lojas{
      padding: 40px 40px;
  }

}

    