$font-bold: 600;
$font-medium:500;
$cor-bordo: #804144;
$cor-bordor-escuro: #55292B;
$cor-azul: #1D86CC;
$cor-branco: #fff;
$cor-cinza: #767676;
$cor-cinza-claro: #EAEAEA;
$cor-verde: #006805;
$cor-hr: #9E7375;

@mixin basic-column() {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }